html {
    height: 100%;
}

body {
    height: 100%;
    background-color:black;
    color:#3279d4;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/42/34/21/423421f60744eb7ae57984ce76f8504b.jpg")
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header{
    display:flex;
    justify-content:center;
}
.navbar{
    display:flex;
    justify-content:space-around;
}
.footer{
    display:flex;
    justify-content:space-between;
}
rightPane{
    background-image: url(http://media.comicbook.com/2017/12/todoroki-midoriya-bakugou-my-hero-academia-1070377.jpeg)
}

.gallery{
    display: flex;
    justify-content:space-around;
    margin: 10px;
    margin-right: 100px; 
}
.thumbnail-image{
    width:350px;
    height: 250px;
}




